/*主容器*/
.usual {
    background:#cee;
    color:#111;
    padding:5px 5px;
    width:98%;
    border:1px solid #099;
    margin:8px auto;
}
/*选项卡*/
.usual ul
{
    margin:0;
    padding:0;
    padding-left:2em;
    overflow:auto;/*火狐等清理浮动*/
    _display:inline-block;/*ie6清理浮动*/
}
.usual li { list-style:none; float:left;}
.usual ul a {
    display:block;
    height: 18px;
    text-decoration:none;
    font:12px Arial;
    outline:none;
    border:solid 2px #dcdcdc;
    padding:4px 34px 4px 34px;
    background-color:#f9f9f9;
    color:#959595;
}
.usual ul a:hover {
    color:#FFF;
    background-color: #86c6f7;
}
.usual ul a.selected {
    color:#000;
    background-color: snow;
    cursor:default;
}
/*tab页*/
.usual .div {
    padding:10px 10px 8px 10px;
    background:snow;
    font-size: 12px;
}