html,body,iframe,div,form,ul,li,h1,h2,h3,h4,h5,p,a,i,img,input,span,table,tr,td,dl,dt,dd{
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
}
body{
	background: #f2f2f2;
	color:#999;
	overflow:auto;
	bo/rder: 10px solid #000;
	font/-family:'Microsoft YaHei', Arial;
}
a{cursor: pointer}
#content{min-height:500px;overflow: auto;}
#logo_img {
	float:left;
	margin-top:7px;
}
input,button,select,textarea{outline:none}
textarea{resize:none}
h3{
	padding-bottom:10px;
	color:#586067;
	font-size:14px;
	font-weight:bold;
	font-fa/mily:'Microsoft YaHei', Arial;
}
h3 span{
	color:#999;
}
h4{
	font-size:13px;
	color:#586067;
	padding:5px 0;
	border-bottom:1px solid #DFDFDF;
}
h3 span,h4 span {
	padding-left:20px;
	font-weight:normal;
	font-size: small;
}
p{
	font-size: 13px;
}
.p_1{
	margin-bottom:10px;
}
form,.clear{
	clear:both;
}
.hidden{
	display:none;
}
.left {float: left;}
.right{float: right;}
.block{display:block;margin-top:10px;}
iframe[name=mainiframe]{
	width:610px;
	overflow:visible;
}
.title_01{
	width:888px;
	background:#fff;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	border: 1px solid #E1E1E1;
	border-bottom:none;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
.title_02 {
	width: 640px;
	background: #E9E9E9;
}
.content_1{
	border: 1px solid #E1E1E1;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

/*---------inline window------------*/
#fade {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
#popup4{font-size:12px;}
.popup_block{
	display: none;
	background: #fff;
	padding: 20px; 	
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.btn_close {
	float: right; 
	margin: -40px -40px 0 0;
	width:26px;
	height:26px;
	background:url(../img/pic_close.png)
}
#inline_pub{
	position:relative;
	overflow: auto;
	min-height:100px;
}
.inline_textarea{
	position:absolute;
	top:0;
}
.inline_button{
	position:absolute;
	top:60px;
}
.form_li{
	border: 1px solid #000;
	overflow: visible;
}
/************************a_style*******/
a {
	font-size: 100%;
	color: #26709A;
	font-style: normal;
	fon/t-family:'Microsoft YaHei', Arial;
	text-decoration: none;
}
a:link { color: #26709A }
a:visited { color: #26709A }
a:hover {color: #26709A;	text-decor/ation: underline;}
a:active {}
a.active{font-weight:bold;background:#dfdfdf;}

#head_nav a,.right a{
	text-s/hadow: 1px 1px 1px #000;
	padding: 0px 10px;
	color: #999;
	
}
#head_nav a:hover {
	color: #fff;
}
/*--a_右边菜单--*/
a.a_sty_01{
	font-size:14px;
	display:block;
	height: 30px;
	line-height: 30px;
	color:#444;
	border-radius: 3px;
	padding-left:10px;
}
a.a_sty_01:hover{
	background:#ededed;
}
a.active:hover {background:#dfdfdf;}
a.a_sty_02{
	font-size:12px;
	position:absolute;
	right: 15px !important;
	right: 30px;
	top:7px;
}
.asso_ul li a{
	color: #737373;
}
.drop_box a{
	color:#404040;
	font-weight:normal;
}
/*-a_按钮-*/
a.creat_button{
	display:inline-block;
	width:100px;
	text-align:center;
	height:30px;
	line-height: 30px;
	font-weight:bolder;
	border:1px solid #C6C7C6;
	margin-bottom:20px;
}
.btn_01{
	margin-top:10px;
	margin-bottom:10px;
}

/*-----a_选项卡-----*/
.search_item ul li a{
	width:110px;
	height:27px;
	line-height:27px;
	text-align:center;
	float:left;
	margin-right:5px;
	display:block;
	float:left;
	display:block;
	color:#444;
	font-size:13px;
}
.search_item ul li a:hover,.search_item ul li a:active{
	text-decoration: none;
	background: url(../img/tab_0.png) no-repeat;
}
.sd01{
	background: url(../img/tab_0.png) no-repeat;
	
}
.sd01 a{font-weight:bold;}
.sd02{
	background: url(../img/tab_1.png) no-repeat;
}
a#refresh{width:30px;}
a#refresh:hover, a#refresh:active{
	background:none;
	
}
/*****通知页面tab*****/
#notify_menu ul li a{
	width:110px;
	height:27px;
	line-height:27px;
	text-align:center;
	float:left;
	margin-right:5px;
	display:block;
	float:left;
	display:block;
	font-weight:normal;
	color:#444;
	font-size:13px;
	background: url(../img/tab_1.png) no-repeat;
}
#notify_menu  ul li a:hover{
	text-decoration: none;
	background: url(../img/tab_1.png) no-repeat;
}
#notify_menu  ul li a#active,#notify_menu  ul li a#active:hover{
	background: url(../img/tab_0.png) no-repeat;
	font-weight:bold;
}
/*********/
.post_switch a{
	padding:0 5px;
}
.post_switch .right a{
	font-size: 12px;
}
/******************************ul style**********/
ol, ul{list-style: none;}
li {
	display: list-item;
	list-style: none;
	text-align: -webkit-match-parent;
}
/*-下拉菜单-*/
.drop_box,.drop_box2{
	position:absolute;
	left:-41px;
	font-size:12px;
	width:80px;
	text-align:center;
	margin-top:-3px;
	background:#fff;
	border: 1px solid #b8b8b8;
	border-width: 0 1px 1px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.drop_box2{
	left:-2px;
	border-top-left-radius:none;
	border-top-right-radius: 3px;
}
.drop_box li{
	b/order: 1px solid #b8b8b8;
	height:25px;
	line-height:25px;
}
/*-------右边菜单-------*/
.sidebar_nav ul li{
	bo/rder:1px solid #c6c7c6;
	position:relative;
}
/*-------post-------*/
li.feed_a{
	bor/der-bottom: 1px solid #C6C7C6;
	overflow:hidden;
	padding:10px 0;
	margin-bottom:10px;
}
.feeds_comment_box li{
	margin:10px 0;
	width:510px;
	overflow:hidden;
	border-bottom:1px dashed #e1e1e1;
}
.feeds_comment_box li:last-child{
	border:none;
}
/*--------ul li a 选项卡----------*/
.search_item ul{
	border-bottom:4px solid #ebebeb;
	margin-top:20px;
	overflow: hidden;
}
.search_item ul li{ 
	float:left;
}

/*-asso_list-*/
.asso_ul {
	margin-top:20px;
}
.asso_ul li{
	margin: 10px 0;
}
.asso_info li{
	height:20px;
	line-height:20px;
	color:#737373;
}

/*------ul li a img--------*/

/*-asso_list-*/
.asso_list li{
	float:left;
}
.asso_list_a_img,.asso_list_a_img img{
	display:block;
}
.asso_list_a_img img{
	width:50px;
	height:50px;
}
.asso_list_a_img{
	margin:0 15px;
	padding:5px 10px;
}
.asso_list_a_name{
	width:70px;
	margin:0 15px;
	text-align:center;
}
/*-asso_list_01-*/
.asso_list_01 li{
	margin:10px 10px 10px 0;
}
.asso_list_01 .asso_list_a_img{
	margin:0;
	padding:0;
	width:50px;
}
/*-profile_pic-*/
#profile_pic_style ul{
	border-bottom:1px solid #c6c7c6;
	padding:20px 0;
	overflow: hidden;
}
#profile_pic_style ul li{ 
	float:left;
	border:1px solid #fff;
}
#profile_pic_style ul li a{
	display:block;
	float:left;
	font-weight:normal;
}
#profile_pic_style ul li a img{
	height:100px;
	width:100px;
}
#profile_pic_style ul li a:hover{
	text-decoration: none;
	background:#ebebeb;
}
#profile_pic_style ul li a#active,#profile_pic_style ul li a#active:hover{
	background:#c6c7c6;
	color:#fff;
	font-weight:bold;
}
/*******************/
#head,#container{
	width:900px;
	margin:0 auto;
}
/********************/
#footer{
	width:100%;
	height:60px;
	padding-top: 80px;
	position:absolute;
	top: expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);
	background:#343841 url(../img/page-footer-bg.jpg) top repeat-x;
}
/**header**/
#header {
	text-align: center;
	display: block;
	position: relative;
	height: 45px;
	clear: both;
	background: #343841 url(../img/stripe.gif) repeat top left;
	margin-bottom: 30px;
	border-bottom: 7px solid #ccc;
	font-size: 14px;
	line-height: 45px;
	over/flow: hidden;
	width: 100%;
	font-weight: bold;
}
.right_nav{
}
.setting{
	float:left;
	position:relative;
	width:42px;
	margin-right:20px;
	text-align: center;
}
.right .setting a{
	padding:0 5px;
	margin:0;
}
.setting:hover{
	background:#fff;
	width:40px;
	border: 1px solid #b8b8b8;
	border-width: 0 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*****搜索*******/
#searchform{
	float:left;
	background:#fff;
	display:inline-block;
	width:184px;
	height:21px;
	margin-top:10px;
	border: 1px solid #C6C7C6;
	border-radius:3px;
	margin-left:10px;
}
#searchform #nav_search_content {float:left;border: 0; width:155px; background:none; line-height:21px; height:21px; color:#bab9b9; padding-left:4px;}
#searchform #nav_search_submit {float:left;margin:0;width:25px;height:21px;cursor:pointer;border-left:1px solid #cacaca; background:url(../img/toolbar.png) -91px -26px;}

/**************container******************/
#container{
	padding-top: 28px;
	padding-bottom: 50px;
	overflow:auto;
	min-height:400px;
}
#main{
	font-size: 12px;
	float: left;
	width: 610px;
	padding:20px;
	padding-bottom:10px;
	border: 1px solid #E1E1E1;
	border-radius:4px;
	background:#fff;
	font-size:12px;
	overflow: auto;
}

/*********sidebar*************/
#sidebar{
	float: right;
	width: 219px;
	padding:0 10px;
	color:#c6c7c6;
}
.user_head_box{
	bor/der-top:1px solid #c6c7c6;
}
.user_head_box img {
	width: 100px;
	height: 100px;
	bor/der:1px solid #c7c7c7;
	border-radius: 3px;
	display:block;
	margin-bottom:30px;
	-webkit-box-shadow:1px 1px 5px #c6c6c6;
	-moz-box-shadow:1px 1px 5px #c6c6c6;
}
.user_head_box .user_name{
	display: block;
	font-size:24px;
	font-weight:bold;
	color:#586067;
	border-left: 1px solid #c6c7c6;
	padding-left: 10px;
	font-family:'Microsoft YaHei', Arial;
}
.sidebar_nav{
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px solid #c6c7c6;
	font-size:12px;
	overflow: hidden;
}

button[name="request_more"] {
	margin-left: 70px;
	width:540px;
}
.loading {
	display:none;
	text-align:center;
}
/********gust*******/
.tab {float:left; width:520px;background:#f3f3f3;}
.tab ul ,.content_siber ul{ float:left; }
.tab ul li,.content_siber ul li { margin:0; padding:5px 10px; float:left;}
.tab ul li a.tab_item { display:block; margin:0; padding:0; color:#069; text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif;}
.tab ul li.active a, .tab ul li a:hover { color:#006699;}
.tab_cont_box{height: auto; overflow:hidden;  margin:0;  padding:0px 10px;}

.gs_con{
	overflow: hidden;
	border: 1px solid #E1E1E1;
	border-radius:4px;
}
.gs_con a{
	color: #666666;
}
#guest_tab{
	width:890px;
	background:#fff;
	padding-left:10px;
	border-top:none; 
}
#guest_tab li{
	 padding:5px 5px ;
}
#guest_tab .sd02 a{
	font-weight:normal;
}
.content_1{
	background:#e9e9e9;
	border-top:1px solid #e1e1e1;
	padding:10px 10px;
}
.box_1{
	width:180px;
	border: 1px solid #E1E1E1;
	border-radius:4px;
	padding:14px;
	background:#fff;
	float:left;
	margin:4px 
}
.box_1 a img{
	display:block;
	width:180px;
	border:none;
	border-radius:4px;
}
.box_1 h3{
	margin:10px 0;
	width: 100%;
	font-weight:normal;
}
.box_1 p{
	line-height: 20px;
}
.box_1_foot{
	border-top:1px dotted #e1e1e1;
	margin-top:10px;
	padding-top:10px;
}
.box_1_foot a{
	display: inline;
	font-size:12px; 
}


/*.ico{
	width: 16px;
	height: 16px;
	margin: 0 7px;
	display: inline-block;
	vertical-align:middle;
}
.ico_newthings{
	background:url(../images/page_element/ico.png) 0 -53px;
}
.ico_circle{
}
.ico_log{
	background:url(../images/page_element/ico.png) -469px 0;
}
.ico_photo{
	 background:url(../images/page_element/ico.png) -469px -17px;
}
.ico_say{
	background:url(../images/page_element/ico.png) -469px -34px;
}*/
