.login_bg{
	width:370px;
	height:290px;
	position:absolute;
	top:100px;
	left:400px;
	border:#E9E9E9 10px solid;
}
.re_bg{
	height:336px;
}
#login_logo,#regist_logo{width: 98px;height:56px;z-index:9999; position: absolute;top:-6px;left:-36px; background: url(../img/login.png)}
#regist_logo{background: url(../img/regist.png)}
.login{
	background:#fff;
	border:#e1e1e1 1px solid;
	padding-bottom:30px;
	color:#666;
	font-size:12px;
	position:relative;
}

.title{width:356px;height:42px;line-height:60px;
	color:#586067;font-size:24px;font-weight:bold;
	font-family:'Microsoft Yahei';
	padding-left:12px;background:#f2f2f2;margin:0;border-bottom: 1px solid #e1e1e1;} 
.title span{font-size:20px;}
form{margin-top:20px;margin-left: 10px;}
.field{margin-top:15px;}
.field label{display:inline-block;text-align:right;width:60px;font-weight:bold}
.field input{width:250px;height:25px;line-height: 25px;border: 1px solid #eaeaea;}
.field_below{position:relative;left:70px;margin-top:20px;}
.field_below .button{width:80px;height:30px;background:#94cc7d;color:#FFF;border:none;}
.field_below span{margin-left:10px;}
.prompt{display:block;margin-left:75px;height: 20px;line-height: 20px;}
